.likeButton {
  border-radius: 3.5rem;
  margin: 0rem 0.1rem 0rem 0.5rem;
  text-align: center;
  font-size: 1rem;
  float: right;
}

.removeButton {
  background-color: firebrick;
  border-radius: 3.5rem;
  margin: 0rem 0.5rem ;
  text-align: center;
  font-size: 1rem;
  float: right;
}

.downButton {
  float: right;
  border-radius: 3.5rem;
  margin: 0rem 0.5rem ;
  text-align: center;
  font-size: 1rem;
}

.upButton {
  float: right;
  border-radius: 3.5rem;
  margin: 0rem 0.5rem ;
  text-align: center;
  font-size: 1rem;
}

.round {
  border-radius: 3.5rem !important;
}

#title {
  text-align: center;
  background-color: darkslateblue;
  opacity: 0.95;
  border-radius: 3.5rem;
}

#bay {
  font-style: italic;
  font-size: 1.75rem;
  font-variant: small-caps;
  margin-right: 1rem;
}

#watch {
  font-size: 4rem;
  color: tomato;
}

body {
  background-image: url("img/michael-bay.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}